.container.contact__container {
	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);
	background: var(--color-bg-variant);
	border-radius: 2vw;
	padding: 2vw 4vw 4vw 4vw;
	width: 75%;
}


.alert__container {
	position: relative;
	left: 50%;
	top: 0%;
	transform: translate(-50%, -50%);
	width: 100%;
	border-radius: 2vw 2vw 2vw 2vw;
	background: green;
	z-index: 1;
}

.alert__success__container {
	background: green;
}

.alert__failure__container {
	background: red;
}

.alert__container h2 {
	padding: 0.5vw;
	font-size: 1.2vw;
	text-align: center;
	color: var(--color-bg);
}



.container.contact__container h1 {
	position: relative;
	color: var(--color-primary);
	/*left: 50%;
	transform: translateX(-50%);*/
	text-align: center;
	width: 100%;
	margin-bottom: 2vw;
}


.container.contact__container__inner {
	width: 100%;
	display: grid;
	grid-template-columns: 45% 50%;
	gap: 5%;
	background: var(--color-bg-variant);
	border-radius: 2vw;
/*	padding: 4vw;*/
}


.contact__options {
	position: relative;
	width: 100%;
	height: 100%;
	background: var(--color-primary-variant);
	border-radius: 12vw;
}

.contactMeSVG {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -55%);
	width: 95%;
	padding: 0 2vw 0 2vw;
}






/* -------------------- Form --------------- */

form {
	display: flex;
	flex-direction: column;
	gap: 1.2rem;
}


input, textarea {
	width: 100%;
	padding: 1.3vw;
	border-radius: 0.5vw;
	background: var(--color-bg);
	resize: none;
	font-size: 1.1vw;
	color: var(--color-bg-variant);
}

.btn-primary {
	border-radius: 1vw;
}

.btn-primary:hover{
	background: var(--color-primary-variant) !important;
	color: var(--color-bg-variant) !important;
	border-radius: 1vw !important;
}











/* ------------------ Media Queries (Medium devices) -------------------- */

@media screen and (max-width: 950px) {
	.container.contact__container {
		width: var(--container-width-md);
	}

	.alert__container {
		position: relative;
		left: 50%;
		top: 0%;
		transform: translate(-50%, -50%);
		width: 100%;
		border-radius: 2vw 2vw 2vw 2vw;
		background: green;
		z-index: 1;
	}

	.alert__success__container {
		background: green;
	}

	.alert__failure__container {
		background: red;
	}

	.alert__container h2 {
		padding: 0.5vw;
		font-size: 1.2vw;
		text-align: center;
		color: var(--color-bg);
	}



	.container.contact__container h1 {
		font-size: 5.5vw;
	}


	.container.contact__container__inner {
		grid-template-columns: 40% 55%;
	}


	.contactMeSVG {
		width: 100%;
		padding: 0 1vw 0 2vw;
	}



	/* -------------------- Form --------------- */


	input, textarea {
		font-size: 1.9vw;
	}

	.btn-primary {
		font-size: 2vw;
	}


}












/* ------------------ Media Queries (Small devices) -------------------- */

@media screen and (max-width: 490px) {
	.container.contact__container {
		width: var(--container-width-md);
		border-radius: 5vw;
		top: 40%;
	}


	.alert__container {
		margin-top: 2vw;
	}

	.alert__container h2 {
		font-size: 3vw;
	}



	.container.contact__container h1 {
		font-size: 8vw;
		margin-top: 2vw;
	}


	.container.contact__container__inner {
		position: relative;
		grid-template-columns: 1fr;
		grid-template-rows: 40% 75%;
		gap: 5%;
		padding-top: 4vw;
		padding-bottom: 25vw;
/*		height: 100%;*/
	}


	.contact__options {
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 70%;
		height: 80%;
	}

	.contactMeSVG {
		transform: translate(-50%, -50%);
		width: 80%;
	}






	/* -------------------- Form --------------- */

	form {
		position: relative;
/*		display: flex;*/
		flex-direction: column;
		gap: 1.2rem;
/*		padding-bottom: 5vw;*/
	}


	input, textarea {
		width: 100%;
		padding: 2.2vw;
		border-radius: 1.5vw;
		background: var(--color-bg);
		resize: none;
		font-size: 3.5vw;
		color: var(--color-bg-variant);
	}

	.btn-primary {
		font-size: 3.7vw;
	}

	.btn-primary:hover{
		background: var(--color-primary-variant) !important;
		color: var(--color-bg-variant) !important;
		border-radius: 1vw !important;
	}


}










