



.contactContainer {
	position: relative;
	margin: 0;
	padding: 0;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	width: 50%;
	height: 50%;
}

.letter-image {
	position: relative;
	top: 50%;
	left: 50%;
	width: 100%;
	height: 100%;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	// cursor: pointer;
}


.animated-mail {
	position: relative;
	height: calc(50% + 12vw);
	width: 100%;
	-webkit-transition: .4s;
	-moz-transition: .4s;
	transition: .4s;
	
	.body {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 0 0 25vw 50vw;
		border-color: transparent transparent #e95f55 transparent;
		z-index: 2;
	}
	
	.top-fold {
		position: absolute;
		bottom: calc((0% + (24.5vw))/2);
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12.5vw 25vw 0 25vw;
		-webkit-transform-origin: 50% 0%;
		-webkit-transition: transform .4s .4s, z-index .2s .4s;
		-moz-transform-origin: 50% 0%;
		-moz-transition: transform .4s .4s, z-index .2s .4s;
		transform-origin: 50% 0%;
		transition: transform .4s .4s, z-index .2s .4s;
		border-color: #cf4a43 transparent transparent transparent;
		z-index: 1;
	}
	
	.back-fold {
		position: absolute;
		bottom: 0;
		width: 50vw;
		height: 25vw;
		background: #cf4a43;
		z-index: 0;
	}
	
	.left-fold {
		position: absolute;
		bottom: 0;
		width: 0;
		height: 0;
		border-style: solid;
		border-width: 12.5vw 0 12.5vw 25vw;
		border-color: transparent transparent transparent #e15349;
		z-index: 2;
	}
	
	.letter {
		left: 10%;
		bottom: 0px;
		position: absolute;
		width: 40vw;
		height: 15vw;
		background: white;
		z-index: 1;
		overflow: hidden;
		-webkit-transition: .4s .2s;
		-moz-transition: .4s .2s;
		transition: .4s .2s;
		
		.letter-border {
			height: 10%;
			width: 100%;
      background: repeating-linear-gradient(
        -45deg,
        #cb5a5e,
        #cb5a5e 8px,
        transparent 8px,
        transparent 18px
      );
		}

		.letter-contents {
			padding: 3%;
		}

		input {
			width: 49%;
			margin-bottom: 0.5vw;
			font-size: 1.2vw;
			padding: 1.5%;
		}

		#userName {
				border-right: 0.1vw solid lightgrey;
				margin-right: 1%;
			}


		input:focus, #userName:focus, textarea:focus {
			border: 0.1vw solid blue;
			border-radius: 0.5vw;
		}

		textarea {
			width: 100%;
			font-size: 1.1vw;
			padding: 2%;
			border-top: 0.1vw solid lightgrey;
			height: 8vw;
			resize: none;
		}
		
		.letter-title {
			margin-top: 10%;
			margin-left: 5%;
			height: 10%;
			width: 40%;
			background: #cb5a5e;
		}
		.letter-context {
			margin-top: 10px;
			margin-left: 5px;
			height: 10px;
			width: 20%;
			background: #cb5a5e;
		}
		
		.letter-stamp {
			margin-top: 30px;
			margin-left: 120px;
			border-radius: 100%;
			height: 30px;
			width: 30px;
			background: #cb5a5e;
			opacity: 0.3;
		}
	}
}



.shadow {
	position: absolute;
	top: calc((50% + (1vw)));
	left: 50%;
	width: 80vw;
	height: 8vw;
	transition: .4s;
	transform: translate(-50%, 190%);
	-webkit-transition: .4s;
	-webkit-transform: translate(-50%, 190%);
	-moz-transition: .4s;
	-moz-transform: translate(-50%, 190%);
	border-radius: 100%;
	background: radial-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.0), rgba(0,0,0,0.0));
}


.sendMsgButton {
	position: absolute;
	top: 0%;
	left: calc((50% - (3vw)));
	-webkit-transform: translate(0%, -260%);
	-moz-transform: translate(0%, -260%);
	transform: translate(0%, -260%);
	opacity: 0;
	border-radius: 100%;
	width: 6vw;
	height: 6vw;
	background: darkred;
	text-align: center;
	color: white;
	font-size: 1.6vw;
}

.sendMsgButton:hover {
	cursor: pointer;
}

.sendMsgButton:active {
	border: 0.2vw solid white;
}

.letter-image:hover {
	.animated-mail {
		transform: translateY(15%);
		-webkit-transform: translateY(15%);
		-moz-transform: translateY(15%);
	}
	
	.animated-mail .top-fold {
		transition: transform .4s, z-index .2s;
		transform: rotateX(180deg);
		-webkit-transition: transform .4s, z-index .2s;
		-webkit-transform: rotateX(180deg);
		-moz-transition: transform .4s, z-index .2s;
		-moz-transform: rotateX(180deg);
		z-index: 0;
	}
	
	.animated-mail .letter {
		height: 42vw;
	}
	
	.shadow {
		width: 50vw;
	}

	.sendMsgButton {
		// transition: all 1.5s;
		opacity: 1;
	}
}












/* ------------------ Media Queries (Medium devices) -------------------- */

@media screen and (max-width: 850px) {

	.shadow {
		top: calc((50% + (3vw)));
	}


}




/* ------------------ Media Queries (Small devices) -------------------- */

@media screen and (max-width: 600px) {

	.shadow {
		top: calc((50% + (6vw)));
	}

}





