header {
	height: 100%;
	overflow: hidden;
}


.header__container {
	position: relative;
	height: 100vh;
	grid-template-columns: 45% 50%;
	display: grid;
	gap: 5%;
}


.header__title-text {
	position: relative;
	padding: 0 0 0 2vw;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.header__title h1 {
	font-size: 3.5vw;
}



.header__title span {
	font-size: 1.2vw;
	margin-left: 0.2vw;
}

.header__title span b {
	font-size: 1.8vw;
	padding-left: 0.5vw;
	padding-right: 0.5vw;
	color: var(--color-primary-variant);
}


/* -------------- CTA ---------------- */

.cta {
	margin-top: 2.5rem;
	display: flex;
	gap: 1.2rem;
	justify-content: center;
}



/* -------------- Header Socials ---------------- */


.header__socials {
	grid-template-columns: 1fr 1fr 1fr;
	display: grid;
	margin-top: 5%;
	width: 35%;
}

.header__social {
	width: 55%;
}


.homeIcon {
	cursor: pointer;
}




/* -------------- Header Image ---------------- */


.header__img {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 40vw;
	padding: 3vw;
}

.me {
	position: absolute;
	top: 50%;
	transform: translate(0%, -50%);
	box-sizing: border-box;
	width: 100%;
	height: 100%;
	border-radius: 16vw 16vw 16vw 16vw;
	overflow: hidden;
	padding-left: 2vw;
	padding-right: 2vw;
	overflow: visible;
}



.meImage {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	box-sizing: border-box;
	width: 100%;
}
















$radius: 34.5vw;

.wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  filter: url('#filter');
}

.ball { 
  width: $radius;
  height: $radius;
  position: absolute;
  top: calc(50% - #{$radius/2});
  left: calc(50% - #{$radius/2});

  &:before {
    background: var(--color-primary);
    border-radius: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: '';
  }
  
  &:nth-child(1) {
    transform: translate(-$radius*1.3);
      animation: x-axis-lateral 8s infinite alternate ease-in-out;
    &:before {
      animation: y-axis-lateral 4s infinite 0.4s alternate ease-in-out;
    }
  }
  
  &:nth-child(2) {
    animation: x-axis 8s infinite alternate ease-in-out;
    &:before {
      animation: y-axis 4s infinite 2s alternate ease-in-out;
    }
  }
  
  &:nth-child(3) {
    transform: translate($radius*-0.3, $radius*0.1);
    animation: x-axis-lateral 8s infinite alternate ease;
    &:before {
      animation: y-axis-lateral 4s infinite 1.6s alternate ease-in-out;
    }
  }
}




@keyframes x-axis {
  0% { transform: translate(-$radius/7); }
  100% { transform: translate($radius/7); }
}

@keyframes y-axis {
  0% { transform: translateY($radius*0.001); }
  100% { transform: translateY(-$radius*0.05) scale(.8); background: var(--color-primary);}
}


@keyframes x-axis-lateral {
  0% { transform: translate(-$radius*.06); }
  100% { transform: translate($radius*.06); }
}

@keyframes y-axis-lateral {
  0% { transform: translateY($radius*0.001); }
  100% { transform: translateY(-$radius*0.1); background: var(--color-primary);}
}


































/* ------------------ Media Queries (Medium devices) -------------------- */

@media screen and (max-width: 850px) {
	.header__container {
		grid-template-columns: 1fr;
		grid-template-rows: 30% 45%;
		gap: 1%;
	}

	.wrapper {
	  position: absolute;
	  top: 50%;
	  left: 50%;
	  transform: translate(-50%, 0%)
	}

	$radius: 40vw;

	.ball { 
	  width: $radius;
	  height: $radius;
	  top: calc(50% - #{$radius/2});
	  left: calc(50% - #{$radius/2});
	 }

	.meImage {
		width: 50%;
	}

	.me {
		position: absolute;
		top: 5%;
		left: 50%;
		transform: translate(-50%, 0);
		width: 100%;
		height: 40vw;
		overflow: visible;
	}

	.header__img {
		position: relative;
		margin-top: 15%;
		height: 100%;
	}

	.header__title-text {
		text-align: center;
		top: 95%;
	}

	.header__title h1 {
		font-size: 4.5vw;
	}

	.header__title span {
		font-size: 2.2vw;
	}

	.header__title span b {
		font-size: 2.8vw;
	}

	.header__socials {
		position: absolute;
		left: 50%;
		top: 110%;
		transform: translate(-50%, -50%);
/*		margin-top: 10%;*/
		width: 45%;
	}

	.header__social {
		position: relative;
		left: 50%;
		width: 45%;
		transform: translate(-50%, 0);
	}
}




/* ------------------ Media Queries (Small devices) -------------------- */

@media screen and (max-width: 600px) {

	header {
		height: 87vh;
/*		overflow: hidden;*/
	}

	.header__container {
		grid-template-rows: 33% 66%;
	}


	.meImage {
		width: 65%;
	}

	.me {
		width: 100%;
		height: 40vw;
	}

	.header__title-text {
		text-align: center;
		top: 90%;
	}

	.header__title h1 {
		font-size: 5.5vw;
	}

	.header__title span {
		font-size: 3vw;
	}

	.header__title span b {
		font-size: 3.4vw;
	}


	$radius: 48vw;

	.ball { 
	  width: $radius;
	  height: $radius;
	  top: calc(50% - #{$radius/2});
	  left: calc(50% - #{$radius/2});
	 }

}




