section.dark {
	.IBMRoles__box {
		background: var(--color-text-dark);
	}

	.IBMRoles__box:hover {
		color: var(--color-primary-variant);
		transform: scale(1.02);
	}

	.hackathonTitle__container h2 {
		color: var(--color-text-dark);
	}

	.IBMDescription__container {
		color: var(--color-text-dark);
		letter-spacing: 0.05vw;
		border-color: var(--color-primary-variant);
	}
}




.experience__section {
	padding-top: 5vw;
}


.containerExperience {
	width: var(--container-width-lg);
	margin: 0 auto;
}


.experience__title__container {
	position: relative;
	grid-template-columns: 36% 64%;
	gap: 0 !important;
	display: grid;
	background: var(--color-primary);
	border-radius: 1.5vw;
	padding: 1vw 0 1vw 0;
}


.title {
	position: relative;
	text-align: left;
	font-size: 3vw;
	height: 100%;
	width: 100%;
}


.title h2 {
	color: var(--color-bg) !important;
	position: relative;
	top: 50%;
	transform: translate(0%, -50%);
	font-size: 3.8vw;
	width: 25%;
	text-align: left;
}


.titleImg {
	width: 100%;
	padding-top: 1vw;
	padding-bottom: 1vw;
}


.experienceSVG {
	width: 69%;
}

.sub-title {
	position: relative;
	grid-template-rows: 50% 50%;
	gap: 0%;
	display: grid;
	height: 100%;
	color: var(--color-bg-variant);
	border-radius: 2vw;
/*	background: var(--color-bg-variant);*/
	background: var(--color-primary-variant);
	padding-left: 2vw;
	padding-right: 2vw;
/*	padding-top: 20;*/
}

.span__container {
	position: relative;
}

.sub-title span {
	position: absolute;
	bottom: 0;
	font-size: 2.2vw;
}

.sub-title span b {
	font-size: 1vw;
	padding-left: 5px;	
	font-style: italic;
}

.sub-title h4 {
	position: relative;
	padding-top: 0.25vw;
	color: var(--color-bg);
	font-size: 1.2vw;
}


.sub-title-roles {
	background: var(--color-primary);
	border-radius: 2vw;
	margin-top: 1vw;
}


.workExperience__container {
	padding-top: 2vw;
}



.workExperience__content {
	display: grid;
	gap: 5%;
	grid-template-columns: 30% 65%;
}


.workExperience__textContainer {
	position: relative;
	grid-template-rows: 35% 55%;
	gap: 10%;
	display: grid;
}




.IBM__content__container {
	position: relative;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	gap: 1%;
}



.IBMRoles__box {
	position: relative;
	background: transparent;
	width: 100%;
	height: 100%;
	border-radius: 2vw;
	border: 0.3vw solid var(--color-bg-variant);
	text-align: center;
	color: var(--color-primary-variant);
	transition: var(--transition);
}

.IBMRoles__box h4 {
	position: absolute;
	top: 55%;
	width: 100%;
	transform: translateY(-50%);
	padding-top: 0.4vw;
	font-size: 1vw;
}


.IBMRoles__box:hover {
	background: var(--color-bg-variant);
	color: var(--color-bg);
	border-color: var(--color-bg);
}


.IBM-icons {
	position: absolute;
	top: 30%;
	transform: translate(-50%, -50%);
	font-size: 3vw;

}


.IBMRoles__box-hover {
	position: absolute;
	width: 105%;
	height: 105%;
	background: transparent;
	border-radius: 2vw;
	transform: translate(-2%, -2%);
/*	padding: 3vw 0.8vw 0 0.8vw;*/
}



.IBMDescription__container {
	border-radius: 2vw;
	border: 0.3vw solid var(--color-bg-variant);
	padding: 1vw;
	margin-top: 2vw;
	font-size: 1.2vw;
	-webkit-animation: fadein2 1.5s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein2 1.5s; /* Firefox < 16 */
        -ms-animation: fadein2 1.5s; /* Internet Explorer */
         -o-animation: fadein2 1.5s; /* Opera < 12.1 */
            animation: fadein2 1.5s;
}


@keyframes fadein2{
    0% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein2{
    0% { opacity:0; }
    100% { opacity:1; }
}















/* --------------- Hackathons ---------------- */


.hackathons__container {
	padding: 4vw 0 10vw 0;
/*	margin-top: 2vw;*/
}


.hackathonTitle__container {
	position: relative;
	height: 20vw;
	border-radius: 3vw 3vw 0.5vw 4vw;
	border-bottom: 1vw solid var(--color-primary-variant);
	margin-bottom: 3vw;
	margin-top: 8vw;
}


.hackathonTitle__container img {
	-webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0.25)));
	transform: translateY(2%);
	border-radius: 3vw 3vw 0vw 3vw;
}



.hackathonTitle__container h2 {
	position: absolute;
	bottom: 0;
	background: transparent;
	width: 100%;
	height: 20%;
	color: var(--color-bg-variant);
	text-align: left;
	padding-left: 3vw;
	font-size: 3vw;
}





.hackathon__container {
	position: relative;
	width: 100%;
	height: 100%;
	margin-top: 2vw;
	border-radius: 3vw;
	gap: 2%;
	display: grid;

}


.hackathon__container.hackathonLeft {
	grid-template-columns: 20% 78%;
}

.hackathon__container.hackathonRight {
	grid-template-columns: 78% 20%;
}


.hackathonImg__container {
	position: relative;
	width: 100%;
	height: 100%;
}

.hackathonImg {
	width: 100%;
}


.morganStanleyImg {
	position: relative;
	width: 100%;
	left: 50%;
	transform: translateX(-50%);
}

.iXImage {
	position: relative;
	width: 125%;
	left: 50%;
	margin-top: 8%;
	transform: translateX(-50%);
}

.hackathonContents__container {
	position: relative;
	width: 100%;
	height: 100%;
	border-radius: 3vw 3vw 3vw 1.5vw;
	background: var(--color-bg-variant);
}


.hackathonContents__container h2 {
	color: var(--color-bg);
	padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 3%;
	font-size: 1.5vw;
}


.hackathonContents__container p {
	color: var(--color-bg);
	padding-left: 4%;
	padding-right: 4%;
	font-size: 1vw;
}

.prizes {
	padding-top: 2%;
}

.hackathonContents__container a {
	margin-left: 3%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 0.5%;
	padding-bottom: 0.5%;
	border-radius: 1vw;
	border: none !important;
	color: var(--color-bg);
	background-color: var(--color-primary-variant);
	font-size: 1vw;
}


.hackathonContents__container a:hover {
	color: var(--color-bg-variant);
}

.GUHPrizes {
	padding-top: 3%;
}


.GUHDescription {
/*	padding-bottom: 2%;*/
}

.technologies {
	position: absolute;
	bottom: 4%;
	left: 2%;
	color: var(--color-bg);
	font-size: 0.9vw;
	color: var(--color-primary-variant);
	font-weight: bold;
}

.technologies b {
	padding-left: 0.5vw;
}



.scrollFade {
	opacity: 0;
	pointer-events: all;
}

.scrollFade--hidden {
	opacity: 0;
	pointer-events: none;
}

.scrollFade--visible {
	opacity: 1;
	pointer-events: all;
}

.scrollFade--animate {
	transition: opacity 2s ease-in-out;
}



.reveal {
  position: relative;
  opacity: 0;
}

.reveal.active {
  opacity: 1;
}

.active.fade-left {
  animation: fade-left 1s ease-in-out;
}

.active.fade-right {
  animation: fade-right 1s ease-in-out;
}

.active.fade-bottom {
  animation: fade-bottom 1s ease-in-out;
}

.active.fade-top {
	animation: fade-top 1s ease-in-out;
}

.active.fade-top-lg {
	animation: fade-top 1s ease-in-out;
}

.active.fade-in {
	transition: opacity 3s ease-in-out;
}

.fade-out-top {
	animation: fade-out-top 1s ease-in-out;
}

.fade-out-top-lg {
	animation: fade-out-top 1s ease-in-out;
}

.fade-out-bottom {
	animation: fade-out-bottom 1s ease-in-out;
}


.fade-out-left {
	animation: fade-out-left 1s ease-out;
}

.fade-out-right {
	animation: fade-out-right 1s ease-out;
}

.fade-out {
	animation: fade-out 1s ease-in-out;
}


@keyframes fade-in {
  0% { opacity: 0; }
  100% { opacity: 1; }
}


@keyframes fade-out {
  0% { opacity: 1; }
  100% { opacity: 0; }
}



@keyframes fade-left {
  0% {
    transform: translateX(-25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-left {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(-25px);
    opacity: 0;
  }
}

@keyframes fade-right {
  0% {
    transform: translateX(25px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes fade-out-right {
  0% {
    transform: translateX(0);
    opacity: 1;
  }
  100% {
    transform: translateX(25px);
    opacity: 0;
  }
}

@keyframes fade-bottom {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes fade-out-bottom {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(25px);
    opacity: 0;
  }
}




@keyframes fade-top {
  0% {
    transform: translateY(-25px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}


@keyframes fade-out-top {
  0% {
    transform: translateY(0);
    opacity: 1;
  }
  100% {
    transform: translateY(-25px);
    opacity: 0;
  }
}


@keyframes fade-top-lg {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}











/* ---------------- Programming Languages ------------------ */

.programmingLanguages__container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 4%;
	padding-bottom: 13vw;
	padding-top: 2vw;
}


.programmingLanguages__container > div {
	background: var(--color-bg-variant);
	padding: 2.4vw 5vw;
	border-radius: 2vw;
	border: 2px solid transparent;
	transition: var(--transition);
	color: var(--color-primary-variant);
}



.programmingLanguages__container > div h3 {
	text-align: center;
	margin-bottom: 2vw;
	color: var(--color-primary);
	font-size: 1.5vw;
}


.experience__content {
	display: grid;
	grid-template-columns: 50% 50%;
	row-gap: 2vw;
	font-size: 1vw;
	width: 100%;
}


.experience__details {
	display: flex;
	gap: 1vw;
	width: 100%;
}


.experience__details__content {
	width: 75%;
}



.experience__details-icon {
	margin-top: 2px;
	color: var(--color-primary-variant);
}


.experience__frontend {
	padding-top: 20% !important;
	position: relative;
	flex-direction: row;
	justify-content: 'space-between';
}


.experience__frontend-title {
	position: absolute;
	left: 50%;
	top: 10%;
	transform: translate(-50%, -50%);
	height: 10%;
	width: 35%;
	display: grid;
	grid-template-columns: 10% 50%;
	padding-top: 2.5%;
	margin-bottom: 5%;
	border-radius: 2vw;
}

.active.experience__frontend-title {
	background: var(--color-bg);
	color: var(--color-primary-variant) !important;
}

.active.experience__frontend-title h3 {
	color: var(--color-primary-variant) !important;
	display: none;
}

.active.experience__frontend-title p {
	display: block;
	position: relative;
	color: var(--color-primary-variant) !important;
	width: 200%;
	transform: translate(-30%,-35%);
	font-size: 1vw;
	animation: fade-in 1s ease-in-out;
}

.active.experience__frontend-title > div {
	color: var(--color-primary-variant) !important;
}

.experience__frontend-title p {
	display: none;
}




.experience__frontend-title-icon {
	position: absolute;
	top: 53%;
	left: 8%;
	transform: translate(-50%, -50%);
	font-size: 1.5vw;
	width: 2vw;
	align-items: left;
	color: var(--color-primary);
}

.experience__frontend-title-text {
	position: absolute;
	top: 75%;
	left: 55%;
	transform: translate(-50%, -50%);
	width: 10vw;
}


.text-light-experience {
	color: var(--color-light);
}



.progressBar {
	border-radius: 2vw;
	height: 1vw;
	background-color: green;
}











/* ------------------ Media Queries (Medium devices) -------------------- */

@media screen and (max-width: 950px) {

	.containerExperience {
		width: var(--container-width-sm) !important;
		margin: 0 auto;
	}


	.experience__title__container {
		grid-template-columns: 50% 50%;
		padding-top: 6vw;
		padding-bottom: 6vw;
	}


	.title h2 {
		font-size: 5vw;
	}


	.experienceSVG {
		width: 90%;
	}


	.sub-title {
		padding-top: 2vw;
	}


	.sub-title span {
		font-size: 3vw;
	}

	.sub-title span b {
		font-size: 1.5vw;
	}

	.sub-title h4 {
		font-size: 1.8vw;
	}


	.workExperience__container {
		padding-top: 4vw;
	}



	.workExperience__content {
		grid-template-columns: 45% 50%;
	}


	.workExperience__textContainer {
		position: relative;
		grid-template-rows: 30% 65%;
		gap: 5%;
		display: grid;
	}




	.IBM__content__container {
		grid-template-columns: 1fr 1fr;
		gap: 4%;
	}



	.IBMRoles__box h4 {
		left: 50%;
		width: 85%;
		transform: translateY(0%);
		transform: translateX(-50%);
		padding-top: 0vw;
		font-size: 1.6vw;
	}


	.IBM-icons {
		font-size: 4.2vw;
	}


	.IBMDescription__container {
		padding: 1.7vw;
		margin-top: 3vw;
		font-size: 2vw;
	}





	/* --------------- Hackathons ---------------- */


	.hackathons__container {
		padding: 0 0 0 0;
		margin-top: 5vw;
		margin-bottom: 5vw;

	}


	.hackathonTitle__container {
		height: 23.8vw;
	}


	.hackathonTitle__container h2 {
		bottom: 8%;
		font-size: 5vw;
	}


	.hackathon__container.hackathonLeft {
		grid-template-columns: 30% 68%;
	}

	.hackathon__container.hackathonRight {
		grid-template-columns: 68% 30%;
	}



	.hackathonContents__container h2 {
		font-size: 2.2vw;
	}


	.hackathonContents__container p {
		font-size: 1.4vw;
	}


	.hackathonContents__container a {
		font-size: 1.5vw;
	}


	.technologies {
		font-size: 1.3vw;
		left: 3%;
		width: 90%;
	}

	.technologies span {
		position: relative;
		padding-right: 5%;
	}







	/* ---------------- Programming Languages ------------------ */

	.programmingLanguages__container {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr;
		padding-bottom: 16vw;
	}


	.programmingLanguages__container > div {
		padding: 5vw 7vw;
	}



	.programmingLanguages__container > div h3 {
		font-size: 2.8vw;
	}


	.experience__content {
		display: grid;
		grid-template-columns: 1fr 1fr;
		column-gap: 6vw;
		font-size: 2vw;
	}


	.experience__details__content {
		width: 100%;
	}

	.experience__details__content small {
		font-size: 1.7vw;
	}


	.experience__frontend {
		padding-top: 15% !important;
	}


	.experience__backend .experience__content {
		row-gap: 4vw;
		padding-top: 3vw;
	}


	.experience__frontend-title {
		height: 12%;
		width: 22%;
		border-radius: 4vw;
	}

	.experience__frontend-title h3 {
		position: relative;
		width: 100%;
		transform: translate(-5%, -20%);
	}


	.active.experience__frontend-title p {
		width: 550%;
		transform: translate(-42%,-37%);
		font-size: 1.8vw;
	}


	.experience__frontend-title-icon {
		top: 57%;
		left: 6%;
		font-size: 2.9vw;
		width: 2.5vw;
	}


	.progressBar {
		height: 2vw;
	}



}












/* ------------------------------ Media Queries (Small devices) -------------------------------------- */

@media screen and (max-width: 600px) {

	.experience__title__container {
		padding-top: 8vw;
		padding-bottom: 8vw;
	}


	.title h2 {
		font-size: 6.5vw;
	}


	.experienceSVG {
		width: 90%;
	}


	.sub-title {
		grid-template-rows: 1fr 1fr;
		padding: 7vw 4vw 4vw 4vw;
		margin-bottom: 4vw;
	}


	.sub-title span {
		font-size: 6vw;
	}

	.sub-title span b {
		font-size: 3vw;
	}

	.sub-title h4 {
		font-size: 3.8vw;
	}




	.workExperience__content {
		grid-template-columns: 45% 53%;
		gap: 2%;
	}


	.workExperience__textContainer {
		grid-template-rows: 1fr;
	}


	.IBMRoles__box {
		border: 0.5vw solid var(--color-bg-variant);
	}



	.IBMRoles__box h4 {
		font-size: 2.5vw;
	}


	.IBM-icons {
		font-size: 5.8vw;
	}


	.IBMDescription__container {
		padding: 3vw;
		margin-top: 3vw;
		font-size: 3vw;
		border: 0.5vw solid var(--color-bg-variant);
	}





	/* --------------- Hackathons ---------------- */


	.hackathons__container {
		padding: 0 0 0 0;
		margin-top: 5vw;
		margin-bottom: 5vw;

	}


	.hackathonTitle__container {
		height: 41.5vw;
		border-bottom: 3vw solid var(--color-primary-variant) !important;
		border-radius: 3vw 3vw 0.5vw 8vw;
	}


	.hackathonTitle__container img {
		border-radius: 3vw 3vw 0vw 5vw;
	}



	.hackathonTitle__container h2 {
		bottom: 5%;
		font-size: 7vw;
	}


	.hackathonImg__container {
		position: relative;
		width: 100%;
		height: 100%;
		padding-top: 9.5vw;
		padding-bottom: 9.5vw;
	}


	.hackathon__container.hackathonLeft {
		grid-template-columns: 38% 60%;
		padding-bottom: 4vw;
	}

	.hackathon__container.hackathonRight {
		grid-template-columns: 60% 38%;
		padding-bottom: 4vw;
	}


	.hackathonContents__container {
		padding: 2vw;
	}



	.hackathonContents__container h2 {
		font-size: 3.5vw;
		margin-bottom: 1.2vw;
	}


	.hackathonContents__container p {
		font-size: 2.3vw;
		line-height: 2.6vw;
	}

	.prizes {
		padding-top: 2vw;
		font-size: 2.5vw;
	}

	.GUHPrizes {
		padding-top: 2vw;
		padding-bottom: 1vw;
	}


	.hackathonContents__container a {
		font-size: 2.5vw;
	}


	.technologies {
		font-size: 2.2vw;
		margin-left: 3%;
		width: 90%;
	}

	.technologies span {
		position: relative;
		padding-right: 5%;
	}







	/* ---------------- Programming Languages ------------------ */

	.programmingLanguages__container {
		padding-bottom: 30vw;
	}


	.programmingLanguages__container > div {
		padding: 5vw 8vw;
	}



	.programmingLanguages__container > div h3 {
		font-size: 5vw;
	}


	.experience__content {
		column-gap: 6vw;
		font-size: 3vw;
	}


	.experience__details__content {
		width: 100%;
	}

	.experience__details__content small {
		font-size: 2.5vw;
	}


	.experience__frontend {
		padding-top: 20% !important;
	}


	.experience__backend .experience__content {
		row-gap: 4vw;
		padding-top: 3vw;
	}


	.experience__frontend-title {
		height: 12%;
		width: 45%;
		border-radius: 5vw;
		align-items: left;
	}

	.experience__frontend-title h3 {
		position: relative;
		width: 100%;
		transform: translate(-75%, -27%);
	}


	.active.experience__frontend-title p {
		width: 550%;
		transform: translate(-40%,-40%);
		font-size: 2.5vw;
	}


	.experience__frontend-title-icon {
		top: 58%;
		left: 8%;
		font-size: 4.9vw;
		width: 4.5vw;
	}



	.progressBar {
		height: 3vw;
	}

	
}


