#fish1 {
  overflow: hidden;
  position: absolute;
  animation: 
    swim 15s linear infinite,
    swimv 8s ease infinite alternate; 
  left: 120%;
  top: 5%;
  width: 5%;
  will-change: transform;
}

#fish3 {
  overflow: hidden;
  position: absolute;
  animation: 
    swim3 15s 2s linear infinite,
    swimv 8s 2s ease infinite alternate; 
  left: -100%;
  top: 2%;
  width: 5%;
  will-change: transform;
}

@keyframes swim {
  0% {
    left: 110%;
  } 
  100% {
    left: -20%;
  }
}

@keyframes swim3 {
  0% {
    left: -40%;
  } 
  100% {
    left: 110%;
  }
}

@keyframes swimv {
  0% {
    transform: translateY(0);
  }
  25% {
    transform: translateY(30px);
  }
  50% {
    transform: translateY(0px);
  }
  75% {
    transform: translateY(50px);
  }
  100% {
    transform: translateY(0px);
  }
}

#bubble-1 {
  animation: bubble 5s infinite;
  opacity: 0;
  transform: translate(-20px, -50px);
}

#bubble-2 {
  animation: bubble 5s 1s infinite;
  opacity: 0;
  transform: translate(-30px, -40px);
}

#bubble-3 {
  animation: bubble 5s 3s infinite;
  opacity: 0;
  transform: translate(-20px, -30px);
}

@keyframes bubble {
  0% {
    opacity: 1;
    transform: translateX(0);
  }
  100% {
    opacity: 0;   
  }
}