


nav {
	background: rgba(0, 0, 0, 0.3);
	width: max-content;
	display: block;
	padding: 0.7rem 1.7rem;
	z-index: 2;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	bottom: 2rem;
	display: flex;
	gap: 0.8rem;
	border-radius: 3rem;
	backdrop-filter: blur(15px);
}


nav a {
	font-size: 1.1rem;
	background: transparent;
	padding: 0.9rem;
	border-radius: 50%;
	display: flex;
	color: var(--color-light);
/*	font-size: 1.1rem;*/
	cursor: pointer;
	width: 100%;
}



nav a:hover {
	background: rgba(0, 0, 0, 0.3);
}


nav a.active {
	background: var(--color-primary-variant);
	color: var(--color-bg);
}









/* ------------------ Media Queries (Medium devices) -------------------- */

@media screen and (max-width: 1000px) {
	
	nav {
		gap: 1.8vw;
		padding: 1vw 1.8vw;
	}

	nav a {
		font-size: 2.2vw;
	}

}




/* ------------------ Media Queries (Small devices) -------------------- */

@media screen and (max-width: 600px) {
	nav {
		gap: 0.5rem;
		padding: 0.5rem 1.3rem;
	}

	nav a {
		font-size: 4vw;
	}
}



@media screen and (max-width: 300px) {
	nav {
		gap: 0.4rem;
		padding: 0.3rem 1rem;
	}

	nav a {
		font-size: 5vw;
	}
}